body{
  background-color: white;
}

h1 {
  color: lightgreen;
  text-align: justify;
  padding: 20px;
}

nav {
  text-align: left;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav ul li {
  list-style: none;
  text-align: center;
  display: inline-block;
  width: 120px;
  height: 30px;
  padding: 5px;
  background-color: lightgreen;
}

nav ul li a{
  text-decoration: none;
  color: white;

}

nav ul li a:hover{
color: #E7DA66;
}
